<div class="container">
  <mat-card>
    <mat-card-title><h1>Review Trip Details</h1></mat-card-title>
    <mat-card-subtitle><h4>Your Flight</h4></mat-card-subtitle>
    <mat-card-content>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs 12">
          <div class="box">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header class="purple-color">
                        <mat-panel-title>
                          <h2 class="purple-color">Departing Flight</h2>
                        </mat-panel-title>
                        <mat-panel-description>
                          <p class="margin-top-10">{{ pass.departingFlight.initial.departure }} <i class="material-icons">arrow_forward</i> {{ pass.departingFlight.initial.destination }}</p>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p><i class="material-icons">access_time</i>{{ pass.departingFlight.departingTime }} - {{ pass.departingFlight.returningTime }}</p>
                      <p><i class="material-icons">airplanemode_active</i>{{ pass.departingFlight.plane }} | {{ pass.departingFlight.gate }}</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <h2 class="purple-color">Returning Flight</h2>
                        </mat-panel-title>
                        <mat-panel-description>
                          <p class="margin-top-10">{{ pass.returningFlight.initial.destination }} <i class="material-icons">arrow_forward</i> {{ pass.returningFlight.initial.departure }}</p>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p><i class="material-icons">access_time</i>{{ pass.returningFlight.departingTime }} - {{ pass.returningFlight.returningTime }}</p>
                      <p><i class="material-icons">airplanemode_active</i>{{ pass.returningFlight.plane }} | {{ pass.returningFlight.gate }}</p>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="box">
                  <h2 class="purple-color">PaymentDetails•</h2>
                  <div class="detail-payment">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="box">
                          <p>Fare details:</p>
                          <p>Taxes &amp; Fees:</p>
                          <mat-divider></mat-divider>
                          <p>Total</p>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="box">
                          <p>0.00</p>
                          <p>0.00</p>
                          <p>0.00</p>
                        </div>
                      </div>
                    </div>
        
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                  <h2>Payment Details</h2>
                  <p><span class="purple-color">*</span>Indicates a required field</p>
                  <mat-divider></mat-divider>
                  <p class="center-par font-bold purple-color">Select payment types•</p>
                  <mat-divider></mat-divider>
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="box">
                        <div class="payment-methods">
                          <mat-radio-group>
                              <mat-radio-button value="one" (change)="payOption=true">Credit Card</mat-radio-button>
                              <mat-radio-button value="two" (change)="payOption=false">Paypal</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="traditional" *ngIf="payOption">
              <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-12">
                  <div class="box">
                    <h3>Billing information</h3>
                    <div class="billing-info">
                        <mat-form-field>
                          <input matInput placeholder="Address*">
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="City*">
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="Country*">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                          <button mat-raised-button color="primary" class="btn-payment">Proceed</button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="alternative" *ngIf="!payOption">
              <div class="row middle-xs center-xs">
                <div class="col-md-6 col-sm-6 col-12">
                  <div class="box">
                    <img src="../../assets/imgs/paypal-logo.jpg" alt="image">
                    <div class="row">
                      <div class="col-xs-12">
                        <button mat-raised-button color="primary" class="btn-payment">Login</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      
  
    </mat-card-content>
  </mat-card>
</div>